@import "normalize";

body {
  //background-color: yellow;
  text-align: center;
  max-width: 900px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#calculator {
  border: 2px;
  background-color: gray;
}

.level {
  border-color: blue;
  background-color: orange;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: space-around;
  height: 60px;
}

#add {
  background-color: rgba(255, 0, 0, 0.171);
  position: fixed;
  top: 60px;
  right: 60px;
}
