@import "normalize";

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow-y: scroll;
}

body {
  text-align: center;
  width: 1200px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  //border-color: black;
  //border-width: 1px;
  //border-style: solid;
  margin: 0 auto;
  font-family: "Inconsolata", monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#calculator {
  border: 2px;
  margin: auto;
  padding: 20px 0;
  //border-style: dashed;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.level {
  border-color: white;
  background-color: rgb(190, 224, 255);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  height: 60px;
  font-weight: bold;
}

#addAbove,
#addBelow {
  border-color: blue;
  color: blue;
  background-color: rgb(255, 255, 255);
  border-style: dashed;
  border-width: 1px;
  //border-style: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  font-size: 30px;
  font-weight: bold;
}

.input {
  width: 5em;
}

.inputLevel {
  width: 1.7em;
}

#footer {
  background-color: rgb(45, 45, 255);
  border-width: 1px;
  border-style: solid;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  //width: 1000px;
  height: 80px;
  color: white;
  font-size: 2rem;
}

#btnReset {
  background-color: rgb(45, 45, 255);
  border-width: 2px;
  border-style: solid;
  border-color: white;
  color: white;
}

.bin {
  background-color: white;
  //border-radius: 100%;
  border-width: 1px;
  font-weight: bold;
}

h1 {
  padding: 0;
  margin: 0;
  text-align: left;
}
